@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;	
}
p{
	font-size: 2em;
}
.section{
	text-align:center;
}

/* Menu
 * --------------------------------------- */
 #menu{
	position:fixed;
	top:89%;
	left:60%;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px;
    border: 1px solid white; 
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}

/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }


/* Sections
 * --------------------------------------- */
#section0 img,
#section1 img{
	margin: 20px 0 0 0;
}	
#section2 img{
	margin: 20px 0 0 52px;	
}
#section3 img{
	bottom: 0px;
	margin:auto;
	display:block;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.twitter-share-button{
	position: absolute;
	z-index: 99;
	right: 149px;
	top: 9px;
}

/* Navigation
 * --------------------------------------- */
#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

/* -------------------------
	Social Bar */


.social-roll {
	
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	border-radius: 50%;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-roll:hover {
	
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

.twitter-roll {
	background-image: url('img/social/twitter-48gray-circle.png');
}
.twitter-roll:hover {
	background-image: url('img/social/twitter-48circle.png');
}

.google-roll {
	background-image: url('img/social/googleplus-48gray-circle.png');
}
.google-roll:hover {
	background-image: url('img/social/googleplus-48circle.png');
}
.facebook-roll {
	background-image: url('img/social/facebook-48gray-circle.png');
}
.facebook-roll:hover {
	background-image: url('img/social/facebook-48circle.png');
}
.linkedin-roll {
	background-image: url('img/social/linkedin-48gray-circle.png');
}
.linkedin-roll:hover {
	background-image: url('img/social/linkedin-48circle.png');
}

.instagram-roll {
	background-image: url('img/social/instagram-48gray-circle.png');
}
.instagram-roll:hover {
	background-image: url('img/social/instagram-48circle.png');
}

.stumbleupon-roll {
	background-image: url('img/social/stumbleupon-48gray-circle.png');
}
.stumbleupon-roll:hover {
	background-image: url('img/social/stumbleupon-48circle.png');
}



